<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <!--  required for thymeleaf!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CZ4034 - Cari Makan</title>
    <link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/nanoscroller.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/app.css}" />
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css' />
    <script th:src="@{/resources/js/modernizr.js}"></script>
    <script th:src="@{/resources/js/jquery.js}"></script>
    <script th:src="@{/resources/js/foundation.min.js}"></script>
    <script th:src="@{/resources/js/jquery.nanoscroller.min.js}"></script>
    <script th:src="@{/resources/js/jquery.linkify.min.js}"></script>
    <script th:src="@{/resources/js/app.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  </head>
  <body>
    <div class="overlay overlay-index"></div>
    <div class="main-box">
	    <div class="row header-space">
	      <div class="large-12 columns text-center">
	        <h1 class="app-title">Food Lovers</h1>
	      </div>
	    </div>
	
	    <form id="main-query" th:action="@{/query}" th:object="${queryObject}" method="POST">
	    	<div class="row">
	    		<div class="medium-8 medium-offset-2 columns">
	          <input id="queryKey" type="text" th:field="*{queryKey}" placeholder="input your query here" /></div>
	    	</div>
	    	<div class="row">
	    		<div class="medium-2 small-6 columns medium-offset-4">
	          <a class="button small secondary" id="search-btn">Search</a>
	        </div>
	    		<div class="medium-2 small-6 columns end">
	          <a class="button small secondary" id="refresh-btn">Refresh</a>
	        </div>
	    	</div>    	
	    </form>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
